body{
    margin: 0px;
    background-color: #000000;
    color: white;
    overflow: hidden;

}

.main{
    display: flex;
    height: 100vh;
    padding:0.5rem;
}

.sidebar{
    width: 340px;
    border-radius: 1rem;
    background-color: #000000;
    margin-right: 0.5rem;
}

.main-content{
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    background-color: #121212;
    padding: 0 1.5rem 0 1.5rem;

}

.player-music{
    position: fixed;
    height: 72px;
    width: 100%;
    bottom: 0;
    background-color: black;
}

a{
    text-decoration: none;
    color: white;
}

.nav{
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
}

.nav-option{
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
}

.nav-option:hover{
    opacity: 1;
}

.nav-option i{
    font-size: 1.25rem;
}

.nav-option a{
    font-size: 1rem;
    margin-left: 1rem;
}

.library{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
}

.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lib-option img{
    height: 1.25rem;
    width: 1.25rem;
}

.icons{
    font-size: 1.25rem;
    display: flex;
}

.icons i{
    opacity: 0.7;
    margin-right: 1rem;
}

.icons i:hover{
    opacity: 1;
}

.box{
    height: 8rem;
    background-color: #232323;
    border-radius: 0.75rem;
    margin: 0.75rem 0 0.75rem 0;
    padding: 0.75rem 1.25rem;

}

.box-p1{
    font-size: 1rem;
    font-weight: 500;
}

.box-p2{
    font-size: 0.85rem;
    opacity: 0.9;
}

.badge{
    background-color: white;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;
}

.dark-button{
    background-color: #000;
    color: white;
}

/* main styles */
.main-nav{
    position: sticky;
    top: 0;
    padding: 1rem 0 0 1rem;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.main-nav-icons{
    margin-left: 0.75rem ;
}

.main-nav-options{
    display: flex;
    justify-content: center;
    align-items: center;
} 

.nav-item{
    margin-right: 1rem;
}

@media (max-width:1000px){
    .hide{ 
        display: none;
    }
}

/* card */

.card {
    background-color: #232323;
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;

}

.card-img{
    width: 100%;
    border-radius: 0.5rem;

}

.card-title{
    font-weight: 600;
}

.card-info{
    font-size:0.85rem;
    opacity: 0.5;
}

.footer{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line{
    height: 60%;
    width: 100%;
    border-top: 1px solid white;
    opacity: 0.4;
}

.player-music{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.album{
    display: flex;
    align-items: center;
    margin-top: 11px;
    margin-left: 10px;
    width: 20%;
    justify-content: space-between;
}

.playing-img{
    height: 50px;
    width: 50px;
}

.about-song{
    flex: 1;
    margin-left: 15px;
}

.title{
    font-size: 13px;
    font-weight: 600;
}

.info{
    font-size:0.5rem;
    color: #aaa;
    margin-top: none;
}
.music-icons {
    display: flex;
    gap: 20px;
  }
  
.music-icons{
    font-size: 20px;
    color: #aaa;
    cursor: pointer;
    transition: color 0.3s;
}

.music-icons i:hover {
    color: #fff;
}
